@using InventoryDataAccessLayer.Entities
@model Product

<form asp-controller="Product" asp-action="EditProduct" method="post" class="mt-4">
    <div class="form-group mb-3">
        <label for="ProductName" class="mb-2">Product Name</label>
        <input type="text"
               id="ProductName"
               name="Name"
               class="form-control"
               value="@Model.Name"
               required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="ProductSKU" class="mb-2">Product SKU</label>
        <input type="text"
               id="ProductSKU"
               name="SKU"
               class="form-control"
               value="@Model.SKU"
               required>
        <span asp-validation-for="SKU" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="ProductDescription" class="mb-2">Product Description</label>
        <input type="text"
               id="ProductDescription"
               name="Description"
               class="form-control"
               value="@Model.Description"
               required>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="ProductWarehouse" class="mb-2">Product Warehouse</label>
        <select id="ProductWarehouse" name="WarehouseId" class="form-control" required>
            @foreach (var Warehouse in ViewBag.Warehouses)
            {
                <option value="@Warehouse.Id" selected>@Warehouse.Name</option>
            }
        </select>
        <span asp-validation-for="WarehouseId" class="text-danger"></span>
    </div>

    <input hidden name="ProductId" value="@Model.Id"/>

    <button type="submit" class="btn btn-success mt-3">Edit</button>
</form>